# Dependencies
node_modules/
*/node_modules/

# SQLite temporary files
*.db-wal
*.db-shm
*.db-journal

# Logs
logs/
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# Staging uploads
uploads_staging/*
!uploads_staging/.gitkeep
.vercel
